@import "./public.less";

/*default_container*/
.default_container {
  width: 100%;
  height: 100%;
  position: relative;

  .default_area {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    .transform_to_center;

    img {
      width: 80px;
      height: 80px;
      margin-left: 10px;
    }
  }
}
