@import "./public.less";

.modal_container {
  .absolute_all_screen(fixed, 99);
  background-color: rgba(74, 74, 74, 0.2);

  .modal_bg {
    .absolute_all_screen(absolute);
    background-color: rgba(74, 74, 74, 0.2);
    margin-top: 45px;
    -webkit-app-region: drag;
  }

  .language_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    .transform_to_center;
    background-color: #ffffff;
    border-radius: 2px;
    width: 75%;
    height: 600px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }

    &.header_fixed_top {

      .modal_button {
        background-color: transparent;
        top: 2px;
        right: 2px;
        box-shadow: none;

        &:hover {
          box-shadow: none;
          background-color: transparent;
        }
      }

      .modal_header {
        height: 60px;

        .language_name_container {
          line-height: 60px;
          padding: 0;
          margin-left: 20px;

          span {
            display: none;
          }
        }
      }

    }

    .modal_button {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      top: 172px;
      right: 28px;
      background-color: #e74c3c;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
      .transition_animation;
      color: #fff;
      z-index: 99;

      &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        background-color: #c0392b;
      }

      .search_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        .transform_to_center;
      }
    }

    .modal_header {
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 2px 2px 0 0;
      overflow: hidden;
      // position: relative;
      position: absolute;
      z-index: 1;
      .transition_animation;

      .language_name_container {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: 800;

        span {
          font-weight: 600;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.7);
        }
      }

      &.all {
        background-image: url('../image/language/banner/star-wars.jpg');
      }
      &.js {
        background-image: url('../image/language/banner/js.jpg');
      }
      &.html {
        background-image: url('../image/language/banner/html.png');
      }
      &.css {
        background-image: url('../image/language/banner/css.png');
      }
      &.python {
        background-image: url('../image/language/banner/python.jpg');
      }
      &.ruby {
        background-image: url('../image/language/banner/ruby.jpg');
      }
      &.java {
        background-image: url('../image/language/banner/java.jpg');
      }
      &.node {
        background-image: url('../image/language/banner/nodejs.jpg');
      }
      &.swift {
        background-image: url('../image/language/banner/swift.jpg');
      }
      &.php {
        background-image: url('../image/language/banner/php.png');
      }
      &.go {
        background-image: url('../image/language/banner/go.jpg');
      }
    }

    .modal_body {
      width: 100%;
      height: 100%;
      border-radius: 0 0 2px 2px;
      overflow: scroll;

      &::-webkit-scrollbar {
        background: transparent;
        width: 0;
      }

      .modal_body_container {
        width: 100%;
        height: auto;
        padding-top: 200px;

      }
      .language_container {
        float: left;
        width: 33.3%;
        height: 70px;
        position: relative;

        .language_image_container {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          .transform_to_center;
          cursor: pointer;

          img {
            width: 100%;
          }
        }
      }

      .languages_area {
        margin-top: 25px;

        &::after {
          content: '';
          display: block;
          clear: both;
        }
      }

      .advance_search_container {
        width: 100%;
        border-top: 1px solid #ececec;

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        &.default {
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          height: 60px;
        }

        .advance_search_content {
          width: 100%;
          height: 0;
          overflow: hidden;
          .transition_animation;

          &::after {

          }

          &.active {
            height: auto;

          }

          .advance_search__options {
            width: 90%;
            margin: 5px 5%;
            height: 72px;
            padding: 16px 0 8px 0;

            .advance_search__option_label {
              font-size: 12px;
              color: #808080;
            }

            .search_stars_input {
              padding: 8px 0;
              background: transparent;
              border: none;
              border-bottom: 1px solid #4a4a4a;
              outline: none;
              color: #343434;
              font-size: 14px;
              width: 100%;
            }

            &.search_times {
              margin-top: 0;
              padding-top: 0;
            }

            .advance_search__time_container {
              width: 100%;
              height: auto;
              margin-top: 8px;

              &::after {
                content: '';
                display: block;
                clear: both;
              }

              .time_container {
                width: 50%;
                float: left;
              }
            }
          }
        }

        .advance_search_button {
          float: right;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #343434;
          padding: 0 10px;
          margin: 10px;
          margin-right: 5%;
          border-radius: 2px;
          cursor: pointer;
          .transition_animation;

          &:hover {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          }

          &.positive {
            .positive;
          }

          &.negative {
            .negative;
          }
        }
      }
    }
  }
}
