.modal_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(74, 74, 74, 0.2);

  .modal_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(74, 74, 74, 0.2);
    margin-top: 45px;
    -webkit-app-region: drag;
  }

  .language_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 2px;
    width: 75%;
    height: 600px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);

    .modal_button {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      top: 172px;
      right: 28px;
      background-color: #e74c3c;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;
      color: #fff;
      z-index: 99;

      &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        background-color: #c0392b;
      }

      .search_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }

    .modal_header {
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 2px 2px 0 0;
      overflow: hidden;
      position: relative;

      .language_name_container {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: 800;

        span {
          font-weight: 600;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.7);
        }
      }

      &.all {
        background-image: url('../image/language/banner/star-wars.jpg');
      }
      &.js {
        background-image: url('../image/language/banner/js.jpg');
      }
      &.html {
        background-image: url('../image/language/banner/html.png');
      }
      &.css {
        background-image: url('../image/language/banner/css.png');
      }
      &.python {
        background-image: url('../image/language/banner/python.jpg');
      }
      &.ruby {
        background-image: url('../image/language/banner/ruby.jpg');
      }
      &.java {
        background-image: url('../image/language/banner/java.jpg');
      }
      &.node {
        background-image: url('../image/language/banner/nodejs.jpg');
      }
      &.swift {
        background-image: url('../image/language/banner/swift.jpg');
      }
      &.php {
        background-image: url('../image/language/banner/php.png');
      }
      &.go {
        background-image: url('../image/language/banner/go.jpg');
      }
    }

    .modal_body {
      width: 100%;
      height: 400px;
      border-radius: 0 0 2px 2px;

      .language_container {
        float: left;
        width: 33.3%;
        height: 70px;
        position: relative;

        .language_image_container {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          cursor: pointer;

          img {
            width: 100%;
          }
        }
      }

      .languages_area {
        margin-top: 25px;
      }
    }
  }
}
