@import "../public.less";

.stackoverflow_item__container {
  width: 100%;
  position: relative;
  margin: 20px 0;
  .transition_animation;
  color: #343434;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;

  .item_top {
    width: 95%;
    margin: 0 2.5%;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .item_title {
      font-size: 18px;
      color: #4a4a4a;
      .transition_animation;
      display: block;
      width: 100%;
      cursor: pointer;
      padding: 5px 0;
      font-weight: bold;

      &:hover {
        color: #2196F3;
      }
    }

    .item_tags {
      width: 100%;

      &::after {
        display: block;
        content: '';
        clear: both;
      }

      .item_tag {
        height: 30px;
        line-height: 30px;
        margin: 0 10px;
        font-size: 14px;
        cursor: pointer;
        color: #9B9B9B;
        float: left;
        .transition_animation;

        &:first-child {
          margin-left: 0px;
        }

        &:hover {
          color: #343434;
        }

      }
    }

  }

  .item_bottom {
    height: 30px;
    border-top: 1px solid #fff;
    width: 95%;
    margin: 0 2.5%;
    font-size: 14px;

    .item__author {
      float: left;
      height: 30px;
      line-height: 30px;

      .author_profile {
        width: 20px;
        height: 20px;
        margin: 5px;
      }

      .author_name {
        font-size: 12px;
      }
    }

    .item_status {
      float: right;
      height: 30px;
      line-height: 30px;

      &.answered {
        color: #FFA500;
      }
    }
  }
}
